numpy==1.19.5
absl-py
astor
cycler
gast
grpcio
h5py
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
opencv-python
protobuf
pyparsing
python-dateutil
python-Levenshtein
scipy
Shapely
six
tensorboard
tensorflow
termcolor
tqdm
Werkzeug
tf_slim
